In [1]:
import mchart as bcr
import pandas as pd
%matplotlib inline

In [2]:
selected_countries = ['BRA','CAN','CHN','DNK','FRA','DEU','KOR','MEX','NOR','ESP','SWE','GBR','USA']

## Retrive data

In [3]:
df = pd.read_csv("data/API_NY.GDS.TOTL.ZS_DS2_en_csv_v2_4772577.csv",skiprows=2,header=1)
df.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,15.031743,16.793435,21.417798,21.980902,21.842818,20.760642,22.300858,9.831194,20.499060,NaN
1,Africa Eastern and Southern,AFE,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,19.371542,21.113162,19.391227,19.640626,21.569906,19.491407,19.941069,19.606667,20.298267,NaN
2,Afghanistan,AFG,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,13.223148,12.955474,14.63415,6.508883,4.722233,1.10375,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       'Unnamed: 66'],
      dtype='object')

## Data preparation

If our dataframe is pivoted in date as data in worldbank We have to unpivot dates. First we select columns we do not want to unpivot to calculate pivot cols:

In [5]:
unpivot_cols = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', 'Unnamed: 66']
pivot_cols  = [col_ for col_ in df.columns if col_ not in unpivot_cols]

In [6]:
df_unpivot = pd.melt(df,id_vars = "Country Code" , value_vars = pivot_cols)

Rename some columns to a standard:
- Country code --> code
- variable (melt deffault) --> date

drop previous tables

In [7]:
df_unpivot["code"] = df_unpivot["Country Code"]
df_unpivot["date"] = df_unpivot["variable"]
df_unpivot = df_unpivot.drop(["variable","Country Code"],axis = 1)

Filter the selected countries

In [8]:
df_unpivot = df_unpivot[df_unpivot["code"].isin(selected_countries)]

Check all countries has the same data to have a better chart. (You have to check manualy the year)

In [9]:
selected_year = "1969"
df_unpivot[df_unpivot["date"]>selected_year].groupby(by = ["code"],as_index = False).count()

   code  value  date
0   BRA     52    52
1   CAN     52    52
2   CHN     52    52
3   DEU     52    52
4   DNK     52    52
5   ESP     52    52
6   FRA     52    52
7   GBR     52    52
8   KOR     52    52
9   MEX     52    52
10  NOR     52    52
11  SWE     52    52
12  USA     52    52

Filter by the selected year

In [10]:
df_norm = df_unpivot[df_unpivot["date"]>selected_year]
df_norm.head(5)

          value code  date
2689  20.121837  BRA  1970
2695  22.357406  CAN  1970
2700  36.101427  CHN  1970
2715  28.116652  DEU  1970
2718  23.913505  DNK  1970

Our module only works with pivoted data. Each columns represents one bar and the rows the time travel throw the years, months or the selected frecuency. So we have to pivot our countrys codes to have the final table

In [11]:
df_graph = df_norm.pivot(index='date',columns='code',values='value')

In [12]:
df_graph.head(5)

code,BRA,CAN,CHN,DEU,DNK,ESP,FRA,GBR,KOR,MEX,NOR,SWE,USA
date,,,,,,,,,,,,,
1970,20.121837,22.357406,36.101427,28.116652,23.913505,26.446732,28.735541,16.158864,16.373453,20.773649,32.283404,29.470995,21.782572
1971,18.841304,22.341130,36.790155,26.838151,23.886870,26.079122,28.344699,15.586434,14.418266,19.160633,31.603448,28.659499,21.973044
1972,19.442595,22.291881,35.717764,25.855207,26.298863,26.611095,28.427921,14.374550,16.779530,19.591912,31.908326,28.139858,22.317002
1973,26.038116,24.425319,36.547027,25.644619,25.643469,26.917683,28.868771,15.148125,22.392488,20.345036,32.816637,28.601769,23.620154
1974,22.932876,25.408453,36.071447,24.473962,23.587044,25.860994,28.021608,11.207424,21.531942,21.043089,33.816557,27.620381,22.642199

We fill nas in case we have in our data to prevent errors

In [13]:
# df_graph.fillna(0.0, inplace=True)
df_graph.interpolate(axis = 0, inplace=True)

## Create Graphs

In [ ]:
bcr.bar_chart_race(df=df_graph,

    # name of the video file
    filename="video.gif",
    # specify location of image folder
    img_label_folder="bar_image_labels",
    fixed_max = True, 
    # change the Figure properties
    fig_kwargs={
        'figsize': (26, 15),
        'dpi': 120,
        'facecolor': '#F8FAFF'
    },

    # orientation of the bar: h or v
    orientation="h",

    # sort the bar for each period
    sort="desc",

    # number of bars to display in each frame
    n_bars=10,

    # to fix the maximum value of the axis
    # fixed_max=True,

    # smoothness of the animation
    steps_per_period=10,

    # time period in ms for each row
    period_length=1500,

    # custom set of colors
    colors=[
        '#6ECBCE', '#FF2243', '#FFC33D', '#CE9673', '#FFA0FF', '#6501E5', '#F79522', '#699AF8', '#34718E', '#00DBCD',
        '#00A3FF', '#F8A737', '#56BD5B', '#D40CE5', '#6936F9', '#FF317B', '#0000F3', '#FFA0A0', '#31FF83', '#0556F3'
    ],

    # title and its styles
    title={'label': 'Gross domestic savings (% of GDP)',
           'size': 52,
           'weight': 'bold',
           'pad': 40
           },

    # adjust the position and style of the period label
    period_label={'x': .95, 'y': .15,
                  'ha': 'right',
                  'va': 'center',
                  'size': 72,
                  'weight': 'semibold'
                  },

    # style the bar label text
    bar_label_font={'size': 27},

    # style the labels in x and y axis
    tick_label_font={'size': 27},

    # adjust the style of bar
    # alpha is opacity of bar
    # ls - width of edge
    bar_kwargs={'alpha': .99, 'lw': 0},

    # adjust the bar label format
    bar_texttemplate='{x:.2f}',

    # adjust the period label format
)

MovieWriter imagemagick unavailable; using Pillow instead.